:host {
    flex: 1;
  }

  /* #mainNavCreateInvoiceText p:hover{
    color: rgb(190, 107, 11);
    box-shadow:2px 1px 1px 2px #000;
    padding:3px;
    border-radius:50%;
  }

  #mainNavInvoiceDataText p:hover{
    color: rgb(190, 107, 11);
    box-shadow:2px 1px 1px 2px #000;
    padding:3px;
    border-radius:50%;
  } */
  
