.checkout-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fafbfa;
}

.content{
    
}
.checkout {
    background-color: #fff;
    border: 1px solid #eaefe9;

    font-size: 14px;
}
.panel {
    margin-bottom: 0px;
}
.checkout-step {
    border-top: 1px solid #e8dede;
    color: #881717;
    font-size: 14px;
    padding: 30px;
    position: relative;
}

.checkout-step-number {
    border-radius: 50%;
    border: 1px solid #666;
    display: inline-block;
    font-size: 12px;
    height: 32px;
    margin-right: 26px;
    padding: 1px;
    text-align: center;
    width: 32px;
}
.checkout-step-title {
    font-size: 18px;
    font-weight: 500;
    vertical-align: middle;
    display: inline-block;
    margin: 0px;
}

.checout-address-step .form-group {
    margin-bottom: 18px;
    display: inline-block;
    width: 100%;
}

.checkout-step-body {
    padding-left: 60px;
    padding-top: 30px;
}

.checkout-step-active {
    display: block;
}
.checkout-step-disabled {
    display: none;
}
.login-phone {
    display: inline-block;
}
.login-phone:after {
    content: "+91 - ";
    font-size: 14px;
    left: 36px;
}
.login-phone:before {
    content: "";
    font-style: normal;
    color: #333;
    font-size: 18px;
    left: 12px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.login-phone:after,
.login-phone:before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.login-phone .form-control {
    padding-left: 68px;
    font-size: 14px;
}
.checkout-login .btn {
    height: 42px;
    line-height: 1.8;
}

.otp-verifaction {
    margin-top: 30px;
}
.checkout-sidebar {
    background-color: #fff;
    border: 1px solid #eaefe9;
    padding: 30px;
    margin-bottom: 30px;
}
.checkout-sidebar-merchant-box {
    background-color: #fff;
    border: 1px solid #eaefe9;
    margin-bottom: 30px;
}
.checkout-total {
    border-bottom: 1px solid #eaefe9;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.checkout-invoice {
    display: inline-block;
    width: 100%;
}
.checout-invoice-title {
    float: left;
    color: #30322f;
}
.checout-invoice-price {
    float: right;
    color: #30322f;
}
.checkout-charges {
    display: inline-block;
    width: 100%;
}
.checout-charges-title {
    float: left;
}
.checout-charges-price {
    float: right;
}
.charges-free {
    color: #43b02a;
    font-weight: 600;
}
.checkout-payable {
    display: inline-block;
    width: 100%;
    color: #333;
}
.checkout-payable-title {
    float: left;
}
.checkout-payable-price {
    float: right;
}

.checkout-cart-merchant-box {
    padding: 20px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #eaefe9;
    padding-bottom: 20px;
}
.checkout-cart-merchant-name {
    color: #30322f;
    float: left;
}
.checkout-cart-merchant-item {
    float: right;
    color: #30322f;
}
.checkout-cart-products .checkout-charges {
    padding: 10px 20px;
    color: #333;
}
.checkout-cart-item {
    border-bottom: 1px solid #eaefe9;
    box-sizing: border-box;
    display: table;
    font-size: 12px;
    padding: 22px 20px;
    width: 100%;
}
.checkout-item-count {
    float: left;
}
.checkout-item-img {
    width: 60px;
    float: left;
}
.checkout-item-name-box {
    float: left;
}
.checkout-item-title {
    color: #30322f;
    font-size: 14px;
}
.checkout-item-price {
    float: right;
    color: #30322f;
    font-size: 14px;
    font-weight: 600;
}

.checkout-viewmore-btn {
    padding: 10px;
    text-align: center;
}

.header-checkout-item {
    text-align: right;
    padding-top: 20px;
}
.checkout-promise-item {
    background-repeat: no-repeat;
    background-size: 14px;
    display: inline-block;
    margin-left: 20px;
    padding-left: 24px;
    color: #30322f;
}
.checkout-promise-item i {
    padding-right: 10px;
    color: #43b02a;
}



/* dfghghjghknscjdndjzncdcj@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* #line:before,
#line:after {
    content: "";
    width: 6px;
    height: 0; */
    /* background: rgb(214, 24, 24); */
    /* background-color: rgb(21, 179, 55);
    animation-name: lineAnimation;
    position: absolute;
    top: 0; */
    /* animation: lineup 3s forwards; */
/* }

#line:after {
    margin-top: -5px;
    margin-left: 13px;
    animation: lineOne 0.5s forwards;
}

@keyframes lineOne {
    100% {
        height: 242px;
    }
}

#supplierLine:before,
#supplierLine:after {
    content: "";
    width: 6px;
    height: 0; */
    /* background: rgb(214, 24, 24); */
    /* background-color: rgb(21, 179, 55);
    animation-name: lineAnimation;
    position: absolute;
    top: 0; */
    /* animation: lineup 3s forwards; */
/* }

#supplierLine:after {
    margin-top: -35px;
    margin-left: -62px;
    animation: lineTwo 0.5s forwards;
}

@keyframes lineTwo {
    100% {
        height: 475px;
    }
}

#customerPartyLine:before,
#customerPartyLine:after {
    content: "";
    width: 6px;
    height: 0;
    /* background: rgb(214, 24, 24); */
    /* background-color: rgb(21, 179, 55);
    animation-name: lineAnimation;
    position: absolute;
    top: 0; */ 
    /* animation: lineup 3s forwards; */
/* }

#customerPartyLine:after {
    margin-top: -35px;
    margin-left: -48px;
    animation: lineThree 0.5s forwards;
}

@keyframes lineThree {
    100% {
        height: 456px;
    }
}

#paymentLine:before,
#paymentLine:after {
    content: "";
    width: 6px;
    height: 0;
    /* background: rgb(214, 24, 24); */
    /* background-color: rgb(21, 179, 55);
    animation-name: lineAnimation;
    position: absolute;
    top: 0; */ 
    /* animation: lineup 3s forwards; */
/* }

#paymentLine:after {
    margin-top: -5px;
    margin-left: 13px;
    animation: lineFour 0.5s forwards;
}

@keyframes lineFour {
    100% {
        height: 248px;
    }
} */

/* .containerOne{
    display:flex;
    flex-direction: column;
    background-color: rgb(56, 71, 138);
}
.box{
    background-color: rgb(146, 55, 55);
    width:250px;
    height:250px;
    position:fixed;
    animation-name: lineAnimation;
    animation-duration:2s;
    animation-iteration-count: 3;
}

@keyframes lineAnimation {
    0%{
        top:0px;
        left:0px;
    }
    25%{
        top:250px;
        left:0px;
    }
    75%{
        top:250px;
        left:0px;
    }
    100%{
        top:0px;
        left:0px;
    }
} */

/* .point-down-example{
    
    margin-left:50vw;
    animation: draw-line 10s;
    animation-fill-mode : forwards;
}

@keyframes draw-line{
    0%{
        height:10;
    }
    50%{
        border-left:1px solid blue;
    }
    100%{
        height:100vh;

    }

    
} */

/* input.ng-touched.ng-invalid {
    border: 1px solid red;
    box-shadow: 0 0 13px inset rgba(255, 0, 0, 0.2);
}

select.ng-touched.ng-invalid {
    border: 1px solid red;
    box-shadow: 0 0 13px inset rgba(255, 0, 0, 0.2);
}

.valid {
    color: yellow;
    
}

.invalid {
    
    background-color: rgb(226, 223, 8);
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

@media (max-width: 768px) {
    #line:before,
    #line:after {
        content: "";
        width: 6px;
        height: 0;
        
        background-color: rgb(21, 179, 55);
        animation-name: lineAnimation;
        position: absolute;
        top: 0;
        
    }

    #line:after {
        margin-top: -5px;
        margin-left: 13px;
        animation: lineOne 0.5s forwards;
    }

    @keyframes lineOne {
        100% {
            height: 318px;
        }
    }

    @keyframes lineTwo {
        100% {
            height: 679px;
        }
    }

    @keyframes lineThree {
        100% {
            height: 820px;
        }
    }
    @keyframes lineFour {
        100% {
            height: 430px;
        }
    }
} */

#BAndSpinner{
    display: flex;
    flex-direction: row;
}
